@charset "UTF-8";
/* speech */
.speech { opacity: 0; transition: all .3s; }
.mode-speech-start .speech { opacity: 1; }
.mode-nl-loaded .speech,
.mode-nl-repeat .speech { opacity: 0; transform: translate(-100px, 0); }
/* speech in/out */
.mode-speech-in .speech-mic { animation: speech-in .8s infinite alternate; }
@keyframes speech-in {
0% {
border-width: 0;
}
100% {
border-width: 40px;
}
}
.mode-speech-out .speech-mic { animation: speech-out .3s forwards; }
@keyframes speech-out {
0% {
opacity: 1;
transform: scale(1);
}
100% {
opacity: 0;
transform: scale(0);
}
}
/* nl loaded */
.nl-inner { transition: none; }
.nl-word { opacity: 0; transform: translate(100px, 0); transition: none; }
.nl-tag,
.nl-pos { opacity: 0; transform: translate(0, 100px); transition: none; }
.nl-label { opacity: 0; transition: none; }
.nl-depend dd { opacity: 0; transform: scale(0, 1); transition: none; }
.mode-nl-loaded .nl-word { opacity: 1; transform: translate(0, 0); transition: all .4s; }
.mode-nl-loaded .nl-tag,
.mode-nl-loaded .nl-pos { opacity: 1; transform: translate(0, 0); transition: all .4s; }
.mode-nl-loaded .nl-label { opacity: 1; transition: all .4s; }
.mode-nl-loaded .nl-depend dd { opacity: 0.4; transform: scale(1, 1); transition: opacity 1s, transform 1s; }
.mode-nl-repeat .nl-inner { opacity: 0; transition: all .4s; }
/* nl  */
.nl { transition: all .3s; }
.mode-force-start .nl { opacity: 0; transform: scale(0.5); }
/* force */
.force { transition: all .3s; }
.mode-plot-end .force { opacity: 0; transform: scale(0); }
/* plot */
.plot dd { transform: scale(0); transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275); ; }
.mode-plot-start .plot dd { transform: scale(1); }
.mode-plot-end .plot dd { transform: scale(0); transition-delay: 0s!important; }
.mode-plot-end .plot dd.nearest { transform: scale(5); opacity: 1; transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
.plot dd { animation: plot 1s infinite alternate; }
@keyframes plot {
0% {
opacity: 0.6;
}
50%, 100% {
opacity: 0.8;
}
}
.mode-stat-end .plot dd { opacity: 0.8; animation: none; }
/* cam */
.cam { opacity: 0; transform: scale(0.8); transition: all .3s; }
.mode-cam-start .cam { opacity: 1; transform: scale(1); }
.mode-cam-start .plot dd.nearest { opacity: 0; transform: scale(0); }
.mode-cam-start polygon { animation: cam 100s linear forwards; }
@keyframes cam {
0% {
stroke-dashoffset: 10000;
}
100% {
stroke-dashoffset: 0;
}
}
/* thanks  */
.thanks { height: 0; }
.thanks div { opacity: 0; transform: translate(100px, 0); transition: all .3s; }
.mode-thanks-start .thanks { height: 100%; }
.mode-thanks-start .cam { opacity: 0; }
.mode-thanks-start .thanks div:nth-child(1) { opacity: 1; transform: translate(0, 0); }
.mode-thanks-end .thanks div:nth-child(1) { opacity: 0; transform: translate(-100px, 0); }
.mode-thanks-end .thanks div:nth-child(2) { opacity: 1; transform: translate(0, 0); }
.mode-thanks-btn .thanks div:nth-child(2) { opacity: 0; transform: translate(-100px, 0); }
.mode-thanks-btn .thanks div:nth-child(3) { opacity: 1; transform: translate(0, 0); }
/* sorry  */
.sorry { height: 0; opacity: 0; }
.mode-sorry-p .speech,
.mode-sorry-p .nl,
.mode-sorry-p .cam,
.mode-sorry-p .plot,
.mode-sorry-p .force { height: 0; opacity: 0; }
.mode-sorry-p .sorry { height: 100%; opacity: 1; }
/* loading */
.loading { height: 0; opacity: 0; transition: opacity .3s; }
.mode-loading .loading { height: 100%; opacity: 1; }
.spinner i { animation: spinner 1.4s infinite ease-in-out both; }
.spinner i:nth-child(1) { animation-delay: -0.32s; }
.spinner i:nth-child(2) { animation-delay: -0.16s; }
@keyframes spinner {
0%, 80%, 100% {
transform: scale(0);
}
40% {
transform: scale(1.0);
}
}
/* cap */
.cap { transition-delay: .3s; }
.cap-init p { opacity: 0; transform: translate(0, 100px); transition: all .3s; }
.cap-init p:nth-child(2) { transition-delay: .1s; }
.cap-steps { height: 0; opacity: 0; transition: opacity .3s; }
.mode-cap-init .cap-init p { opacity: 1; transform: translate(0, 0); }
.mode-cap-steps .cap-init { display: none; }
.mode-cap-steps .cap-steps { height: 100%; opacity: 1; }
.cap-images dd { animation: cap .3s both; }
.mode-train .cap { height: 0; }
.mode-train .cap-steps { opacity: 0; }
@keyframes cap {
0% {
opacity: 0;
transform: translate(0, 100px);
}
100% {
opacity: 1;
transform: translate(0, 0);
}
}
/* train */
.train { height: 0; }
.train-txt { opacity: 0; transform: translate(100px, 0); transition: all .3s; }
.train-v3 { opacity: 0; transform: translate(-100px, 0); transition: all 1s; }
.mode-train .train { height: 100%; }
.mode-train .train-txt { opacity: 1; transform: translate(0, 0); }
.mode-train-v3 .train-v3 { opacity: 1; transform: translate(0, 0); }
.mode-train .train-txt { animation: trainTxt 2s infinite alternate; }
@keyframes trainTxt {
0% {
opacity: 0;
}
60%, 100% {
opacity: 1;
}
}
.train-v3 rect { animation: v3 300s linear forwards; }
@keyframes v3 {
0% {
stroke-dashoffset: 30000;
}
100% {
stroke-dashoffset: 0;
}
}
/* status */
.stat { height: 0; opacity: 0; transform: translate(-100px, 0); transition: opacity 1s, transform 1s; }
.mode-stat .cap,
.mode-stat .train { display: none; }
.mode-stat .stat { height: 100%; opacity: 1; transform: translate(0, 0); }
.stat-btn { height: 0; opacity: 0; transition: opacity .3s; }
.mode-stat-end .stat-btn { height: 100%; opacity: 1; }
/* sorry */
.mode-sorry-t-start .loading,
.mode-sorry-t-start .cap,
.mode-sorry-t-start .train { height: 0; opacity: 0; }
.mode-sorry-t-end .sorry { height: 100%; opacity: 1; }
/* subtitle */
.subtitles { position: absolute; left: 0; bottom: 10%; width: 100%; text-align: center; z-index: 99; }
.subtitles > div { display: none; padding: 20px 30px; border-radius: 5px; background-color: rgba(0,0,0,0.5); background-position: 30px 50%; background-repeat: no-repeat; animation-duration: .3s; animation-fill-mode: forwards; }
@keyframes subs {
0% {
opacity: 0;
transform: translate(0, 50px);
}
100% {
opacity: 1;
transform: translate(0, 0);
}
}
@keyframes subs-instant {
0% {
opacity: 0;
transform: translate(0, 50px);
}
5% {
opacity: 1;
transform: translate(0, 0);
}
95% {
opacity: 1;
transform: translate(0, 0);
}
100% {
opacity: 0;
transform: translate(0, 50px);
}
}
/* subtitle predict */
.mode-speech-start .subs-start { display: inline-block; animation-name: subs; }
.mode-speech-in .subs-start { display: none; }
.mode-speech-in .subs-speech { display: inline-block; animation-name: subs; }
.mode-speech-out .subs-speech { display: none; }
.mode-speech-out .subs-nl { display: inline-block; animation-name: subs; }
.mode-force-start .subs-nl { display: none; }
.mode-force-start .subs-force { display: inline-block; animation-name: subs; }
.mode-plot-end .subs-force { display: none; }
.mode-plot-end .subs-plot { display: inline-block; animation-name: subs; }
.mode-thanks-start .subs-plot { display: none; }
.mode-thanks-btn .subs-end { display: inline-block; animation-name: subs; }
/* subtitle learn */
.mode-cap-init .subs-learn { display: inline-block; animation-name: subs; }
.mode-cap-steps .subs-learn { display: none; }
.mode-cap-steps .subs-cap { display: inline-block; animation-name: subs; }
.mode-train .subs-cap { display: none; }
.mode-train .subs-train { display: inline-block; animation-name: subs; }
.mode-train-v3 .subs-train { display: none; }
.mode-train-v3 .subs-v3 { display: inline-block; animation-name: subs; }
.mode-stat .subs-v3 { display: none; }
.mode-stat .subs-stat { display: inline-block; animation-name: subs-instant; animation-duration: 5s; }
.mode-stat-end .subs-stat { display: none; }
.mode-stat-end .subs-learn-end { display: inline-block; animation-name: subs; }
/* subtitle icon */
.subtitles .subs-speech,
.subtitles .subs-nl,
.subtitles .subs-cap,
.subtitles .subs-stat { padding-left: 90px; background-image: url(/static/images/ico-ml.svg); text-align: left; }
.subtitles .subs-v3 { padding-left: 90px; background-image: url(/static/images/ico-tf.png); background-size: 40px; text-align: left; }
/* subtitle lang */
.subtitles .en { font-size: 18px; }
.mode-en .subtitles .en,
.mode-ja .subtitles .ja { display: block; }
.mode-ja .subtitles .en,
.mode-en .subtitles .ja { display: none; }
/* sorry  */
.mode-sorry-r .loading,
.mode-sorry-r .reset { height: 0; opacity: 0; }
.mode-sorry-r .sorry { height: 100%; opacity: 1; }
