[Unit]
Description=uWSGI service for webapp
After=syslog.target

[Service]
ExecStartPre=/bin/mkdir -p -m 775 /var/run/uwsgi
ExecStart=/usr/local/bin/uwsgi --ini /etc/uwsgi/webapp.ini
RuntimeDirectory=/var/run/uwsgi
Restart=always
KillSignal=SIGTERM
StandardError=syslog
Type=forking
NotifyAccess=all
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
